body {
  font-family: Arial, Helvetica, sans-serif;
}

.color {
  border: 1px solid rgb(0, 0, 0);
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  display: inline-block;
  margin-bottom: -4px;
}

#button-random-color {
  margin: 10px;
}

#clear-board {
  margin: 10px;
}