body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
}

.color {
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
  margin-bottom: -4px;
}

#button-random-color {
  margin: 10px;
}

#clear-board {
  margin: 10px;
}

#board-size {
  width: 210px;
}
